@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Poppins:ital,wght@0,200;0,400;1,300;1,400&family=Roboto&display=swap');

* {
  font-family: 'Fredoka', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
input,
select {
  border: 1px solid rgba(183, 183, 183, 0.5);
  outline: 0;
}
input:focus {
  outline: none !important;
}
body {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  background-color: #dae0e6;
  height: 100vh;
}
a {
  text-align: center;
  display: block;
  text-decoration: none;
  color: #fff;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  height: 55px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  height: 100%;
}
.logo {
  width: 100px;
}
.search-form {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 730px;
}
.search-button {
  background-color: #fff;
  border: none;
}
.search-input {
  border-radius: 5px;
  padding: 8px 50px;
  width: 100%;
  background-color: #ecececa6;
}
.fa-search {
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(0, -50%);
}
.links-container {
  display: flex;
  /* margin-right: 100px; */
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  padding: 5px;
  width: 100px;
  border-radius: 40px;
  font-weight: 500;
}
.login,
.home,
.logout {
  border: 1px solid #0079d3;
  color: #0079d3;
}
#login,
#home,
#logout {
  color: #0079d3;
  width: 100%;
  height: 100%;
}
.register,
.porfile {
  background-color: #0079d3;
}
#register,
#porfile {
  width: 100px;
}
