@media screen and (max-width: 1300px) {
  body{
    align-items: unset;
  }
  .main-section {
    width: 1000px;
  }
}
@media screen and (max-width: 1000px) {
  body{
    align-items: unset;
  }
  .main-section {
    width: 1000px;
    flex-direction: column-reverse;
    align-items: center;
  }
  .post-paragraph {
    width: 100%;
  }
  .search-form {
    width: 50%;
  }
  .main-section-aside {
    width: 70%;
    margin-bottom: 20px;
  }
  .main-section-container {
    width: 70%;
    margin: 0;
  }
}
@media screen and (max-width: 720px) {
  body{
    align-items: unset;
  }
  .main-section {
    width: 1000px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .search-form {
    width: 40%;
  }
  .main-section-aside {
    width: 70%;
    margin-bottom: 20px;
  }
  .main-section-container {
    width: 70%;
    margin: 0;
  }
}
@media screen and (max-width: 580px) {
  body{
    align-items: unset;
  }
  .main-section {
    width: 700px;
    flex-direction: column-reverse;
    align-items: center;
  }
  .search-form {
    width: 40%;
  }
  .main-section-aside {
    width: 70%;
    margin-bottom: 20px;
  }
  .main-section-container {
    width: 70%;
    margin: 0;
  }
}
@media screen and (max-width: 500px) {
  body{
    align-items: unset;
  }
  .main-section {
    width: 600px;
    flex-direction: column-reverse;
    align-items: center;
  }
  .search-form {
    width: 40%;
  }
  .main-section-aside {
    width: 70%;
    margin-bottom: 20px;
  }
  .main-section-container {
    width: 70%;
    margin: 0;
  }
  .profile{
    display: none;
  }
}
